
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    /* height: 6000px; */
    overflow-x: hidden
}
.main-color{
    color: #F3C300
}
.weight-main{
    font-weight: 700
}
.main-bttom{
    background-color: #F3C300;
    padding: 10px;
}
ul{
    color: #777777
}
.n-link{
    text-decoration: none
}
.upper{
    text-transform: uppercase
}
.main-black-btn{
    background-color: #222222;
}
.title-color{
    color: #222222
}
.main-section-clr{
    background-color: #fff
}
.navcustom{
    height: 70px;
    background-color: #fff
}
.nav-link{
    font-size: 12px/80px;
    font-weight: 500;
    color: #222222
}
a{
    text-decoration: none;
}
/* :-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
} */
.rod{
    height: 600px;
    width: 100%;
    background-color: aqua;
}
.header{
    background: url("../images/banner_bg.jpg") no-repeat scroll center 0/cover;
    background-attachment: fixed;
    position: relative;
    height: 800px
}
/* .navbar_fixed{
    position: fixed;
    width: 100%;
    left: 0;
    background: #fff;
    top: 0;
    top: -50px;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    -webkit-transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    -moz-transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    -ms-transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease
} */
.lyr{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.head{
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%
}
.content{
    width: 50%;
    height: 78%;
    z-index: 2
}
.text-center h6{
    color: #f8f9fa;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 3px
}
.text-center h2{
    color: #f8f9fa;
    font-size: 62px;
    line-height: 60px;
    font-weight: 700
}
.text-center p{
    color: #f8f9fa;
    font-weight: 400
}
.theme-bot{
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #f8f9fa;
    background-color: #F3C300;
    padding: 5px 30px
}
.theme-bot:before {
    background: #f8b100
  }
  
  .theme-bot:hover {
    color: #fff;
  }

.theme-bot-hover{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.book{
    position: absolute;
    bottom: 0;
    width: 80%;
    padding: 40px 50px 30px;
    align-items: center;
    -webkit-box-align: center;
    background-color: #04091E;
    display: flex;
    align-items: center
}
.upper h2{
    color: #f8f9fa;
    font-size: 23px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: 600
} 
.col-md-9 input{
    border: 1px solid #2b3146;
    background: transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-size: 13px;
    line-height: 38px;
    padding: 0 20px;
    color: #777777;
    margin: 8px 0;
    z-index: 0
}
.form-control:focus {
    color: #777777;
    border-color: #2b3146;
    box-shadow: none;
    background: transparent
  }
  .book-nw{
    width: 100%;
    color: #222222;
    padding: 5px 20px;
    margin: 6px 0 2px
  }
  .box-calendar{
      position: relative;
  }
.box-calendar span{
    background: transparent;
    padding: 0px;
    border: 0px;
    color: #777777;
    position: absolute;
    right: 20px;
    top: 9px
}
.nice-select{
    border: 1px solid #2b3146;
    background: transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-size: 13px;
    padding: 0 20px;
    line-height: 38px;
    color: #777777;
    margin: 6.5px 0px 0px
}
.nice-select:focus {
    border-color: #2b3146;
    box-shadow: none;
    background: transparent
}
.nice-select:hover{
    border-color: #2b3146;
    box-shadow: none;
    background: transparent
}
/* Start PP */ 
.preloader {
    z-index: 9999;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat; 
    background-color: #FFF;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center
 }
.bg-white2{
    background: #fff;
}
.preloader h1{
    position: relative;
    top: 90px;
    font-size: 20px;
    line-height: 20px;
    color: #2b3146
}
  /* End PP */ 


.hotel-section{
    margin-top: 120px
}  
.hotel-section h1{
    color: #222222;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600
}
.hotel-section p{
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #777777
}
.hot-section{
    border-radius: 10px;
    text-align: center;
    margin-top: 80px;
    overflow: hidden;
    position: relative
}
.hot-img-effect{
    width: 100%;
    transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out
}
.hot-img-effect:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2)
}
.hot-section a{
    position: absolute;
    bottom: 10px;
    left: 27%
}
.room-name{
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222
}
.room-name:hover{
    color: #222222
}
.curn{
    font-size: 20px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
    margin-bottom: 0px
}
.goodnight{
    color: #52c5fd;
    font-weight: 300;
    font-size: 12px
}
.goodnight{
    position: relative;
    left: 60px;
    bottom: 25px
}
.bold{
    font-weight: 600
}
.mb-9{
    margin-bottom: 70px
}
.mt-9{
    margin-top: 110px
}
.facilities-section{
    background: url('../images/facilites_bg.jpg') no-repeat scroll center 0/cover;
    background-attachment: fixed;
    height: 850px;
    position: relative
}
.lyr-2{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(14, 17, 37, 0.8)
}
.facilities-content h2{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600
}
.facilities-content P{
    font-size: 14px;
    line-height: 30px;
    color: #777777
}
.facility{
    border: 1px solid #777777;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px
}
.facility h4{
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    font-weight: 600
}
.facility span{
    color: #f3c300;
    font-size: 24px;
    line-height: 38px;
    /* vertical-align: bottom; */
    padding-right: 15px
}
.about-us{
    background-color:#fff
}
.section{
    padding: 120px 0
}
.about-content{
    padding-right: 60px
}
.title{
    font-size: 36px;
    line-height: 2px;
    font-weight: 600;
    padding-bottom: 30px
}

.to-cot{
    margin-left: 80px
}


.theme-black{
    border: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #f8f9fa;
    background-color: #222222;
    padding: 5px 30px
}
.theme-black:before {
    background: #f8b100
  }
  
  .theme-black:hover {
    color: #fff
  }


  .testimonial{
      background-color: #F9F9FF;
      height: 800px
  }
  .testimonial h2{
      color: #222222;
      font-size: 36px;
      line-height: 45px;
      font-weight: 600
  }
  .testimonial p{
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #777777
  }

  .testimonial_slider .testimonial-item {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 40px
  }
  
  .testimonial_slider .testimonial-item img {
    width: auto;
    margin-right: 30px
  }
  
  .testimonial_slider .item .testimonial-item body-media p {
    color: #8c8d9e;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
    padding-bottom: 15px
  }
  
  .testimonial_slider .item .testimonial-item .body-media .sec-h4 {
    line-height: 30px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear  ;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear
}
  
  .testimonial_slider .testimonial-item .sec-h4:hover {
    color: #52c5fd
  }
  
  .testimonial_slider .testimonial-item .star a {
    color: #f3c300;
    font-size: 14px
  }
  
  .testimonial_slider .owl-dots {
    text-align: center;
    margin-top: 80px
  }
  
  .testimonial_slider .owl-dots .owl-dot {
    width: 14px;
    height: 14px;
    background: #eeeeee;
    display: inline-block;
    margin: 0px 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear
}
  
  .testimonial_slider .owl-dots .owl-dot.active {
    background: #f3c300
  }
  .edia{
      display: flex;
      align-items: flex-start
  }
  .testimonial-item{
      margin-left: 10px;
      border: 1px solid #eeeeee;
      background: #fff;
      padding: 40px
  }
  .testimonial-item img{
      width: 50%;
      margin-right: 30px
  }
  .body-media .sec-h4{
      line-height: 30px;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear
}
.sec-h4{
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    left: 0px;
    background: #fff;
    top: 0;
    top: -50px;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
  }
  
  .navbar_fixed .navbar {
    background: transparent
  }
  
  .navbar_fixed .navcustom {
    display: none
  }
  
  .navbar_fixed .navcustom {
    background: rgba(34, 34, 34, 0.9)
  }
  .navbar .logo{
     position: relative;
     left: 60px;
     bottom: 5px;
  }

  .navbar_fixed .logo{
    position: relative;
    left: 112px;
    bottom: 5px;
 }
 .blog-section h2{
    color: #222222;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600
 }
 .blog-section p{
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #777777
 }
 .blog-single .thumb{
     overflow: hidden
 }
 .blog-single .details{
    padding-top: 30px
 }

 .blog-tags .tag-btn{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #f8f9fa;
    border: 1px solid #eeeeee;
    color: #222222;
    text-align: center;
    display: inline-block;
    padding: 1px 18px
}
.tag-btn:before {
    background: #f8b100
  }
  
  .tag-btn:hover {
    color: #fff
  }

.but-hover{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px
}
.details a h4{
    line-height: 24px;
    padding: 10px 0px 13px;
    -webkit-transition: all 0.3s linear ;
    -o-transition: all 0.3s linear ;
    transition: all 0.3s linear ;
    -moz-transition: all 0.3s linear ;
    -ms-transition: all 0.3s linear 
}
.details a h4{
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px
}
.details a h4:hover{
    color: #52c5fd
}
.blog-single .date{
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400
}
.img-blog{
    
    width: 100%;
    transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out
}
.img-blog:hover{
    transform: scale(1.3) rotate(10deg);
    -webkit-transform: scale(1.3) rotate(10deg);
    -moz-transform: scale(1.3) rotate(10deg);
    -ms-transform: scale(1.3) rotate(10deg);
    -o-transform: scale(1.3) rotate(10deg);
}
.footer-area{
    background: #04091e;
    padding: 142px 0px
}
.gap{
    padding: 120px 0
}
.border-line-to-end{
    width: 100%;
    height: 1px;
    background: #333333;
    margin-top: 30px
}
.footer-area .footer-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 28px
}
.lista{
    list-style: none;
    margin: 0px;
    padding: 0px
}
.lista li a{
    line-height: 25px;
    display: inline-block;
    color: #777;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    margin-bottom: 13px
}
.lista li a:hover{
    color: #F3C300
}
.single-footer p{
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #777777
}
.mail-form{
    padding-top: 13px
}
.formto input{
    position: absolute;
    width: 100%;
    border: 1px solid #333333;
    font-size: 13px;
    line-height: 30px;
    padding-right: 40px;
    height: 40px;
    color: #999999;
    background: transparent;
    padding-left: 20px
}
.bmail{
    background: #f3c300;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    line-height: 34px;
    padding: 4px 11px 0px;
    cursor: pointer;
    position: relative;
    right: -270px;
    top: 0px
}
.bmail span{
    color: #fff
}
.bmail span:hover{
    color: #fff
}
.feed{
    margin-left: -5px;
    margin-right: -5px
}
.feed li {
    transition: all 1s ease-in;
    margin: 5px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in
}
.endfooter{
    padding-top: 46px;
}
.text-footer p{
    color: #777777
}
.social-footer{
    text-align: right
}
.social-footer a{
    font-size: 18px;
    line-height: 30px;
    color: #82848f;
    margin-left: 25px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear
}
.social-footer a:hover{
    color: #f3c300;
}
